
[data-novi-id="34"]{
  font-size: 20px;
}
[data-novi-id="36"]{
  color: #07080a;
}
[data-novi-id="28"]{
  color: rgb(2, 2, 3);
  font-family: 'Roboto', sans-serif;
}
[data-novi-id="23"]{
  font-weight: 700;
  color: rgb(2, 2, 3);
  font-family: 'Roboto', sans-serif;
}
[data-novi-id="22"]{
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}
[data-novi-id="21"]{
  color: #ffffff;
  font-style: italic;
}
[data-novi-id="20"]{
  color: #030405;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}
[data-novi-id="19"]{
  color: rgb(3, 4, 5);
}
[data-novi-id="18"]{
  color: rgb(3, 4, 5);
}
[data-novi-id="17"]{
  color: #020203;
}
[data-novi-id="16"]{
  font-family: 'Roboto', sans-serif;
  color: rgb(3, 4, 5);
}
[data-novi-id="15"]{
  color: rgb(18, 23, 107);
  font-size: 65px;
  letter-spacing: 4px;
}
[data-novi-id="6"]{
  
  font-size: 24px;
  
  font-family: 'Roboto', sans-serif;
}
[data-novi-id="5"]{
  
  font-size: 24px;
  
  font-family: 'Roboto', sans-serif;
}
[data-novi-id="4"]{
  
  font-size: 24px;
  
  font-family: 'Roboto', sans-serif;
}
[data-novi-id="3"]{
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
[data-novi-id="2"]{
  font-size: 22px;
}
[data-novi-id="1"]{
  font-size: 22px;
  font-style: normal;
}
[data-novi-id="0"]{
  font-size: 22px;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}
@media (min-width: 1280px) and (max-width: 1599px){
[data-novi-id="72"]{
  font-weight: 700;
}
[data-novi-id="71"]{
  font-weight: 700;
  color: rgb(0, 0, 0);
}
[data-novi-id="36"]{
  text-align: center;
}
[data-novi-id="34"]{
  text-align: center;
}
[data-novi-id="23"]{
  
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}
[data-novi-id="19"]{
  font-size: 20px;
}
[data-novi-id="18"]{
  font-size: 20px;
}
[data-novi-id="17"]{
  font-size: 20px;
}
[data-novi-id="16"]{
  font-size: 2px;
}
[data-novi-id="15"]{
  
  color: rgb(3, 3, 3);
  
  letter-spacing: 0px;
  
  
}
[data-novi-id="6"]{
  font-weight: 400;
  font-size: 20px;
  color: rgb(3, 3, 3);
}
[data-novi-id="5"]{
  font-weight: 700;
  color: rgba(212, 0, 2, 1);
}
[data-novi-id="4"]{
  font-weight: 700;
  color: rgba(212, 0, 2, 1);
}
[data-novi-id="3"]{
  color: rgb(212, 0, 2);
  font-size: 24px;
  font-weight: 700;
}
[data-novi-id="2"]{
  color: rgb(3, 4, 5);
  font-family: 'Roboto', sans-serif;
}
[data-novi-id="1"]{
  font-size: 20px;
  font-size: 17px;
  font-size: 20px;
}
[data-novi-id="0"]{
  
  
  
  font-size: 18px;
  
  
  
  
  
  font-family: 'Roboto', sans-serif;
  
  
  
  font-family: 'Roboto', sans-serif;
}
[data-novi-id="70"]{
  font-size: 25px;
  font-size: 25px;
  color: rgb(255, 51, 48);
}
[data-novi-id="69"]{
  color: rgba(240, 181, 62, 1);
  color: #020203;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
[data-novi-id="68"]{
  color: rgba(240, 181, 62, 1);
  color: rgba(5, 4, 1, 1);
}
[data-novi-id="67"]{
  color: rgba(5, 4, 1, 1);
  font-family: 'Roboto', sans-serif;
}
[data-novi-id="66"]{
  font-size: 40px;
  color: rgba(240, 181, 62, 1);
  color: #020203;
}
[data-novi-id="65"]{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 25px;
  font-size: 25px;
}
[data-novi-id="64"]{
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
}
[data-novi-id="63"]{
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  
}
[data-novi-id="62"]{
  text-align: left;
  font-size: 25px;
}
[data-novi-id="61"]{
  font-size: 25px;
  color: rgb(179, 28, 13);
  font-weight: 700;
}
[data-novi-id="60"]{
  font-weight: 700;
  color: rgba(240, 181, 62, 1);
  color: #050505;
}
[data-novi-id="59"]{
  font-size: 2px;
  font-weight: 400;
}
[data-novi-id="58"]{
  
  font-weight: 400;
}
[data-novi-id="57"]{
  
  font-weight: 400;
}
[data-novi-id="56"]{
  
  font-weight: 400;
}
[data-novi-id="55"]{
  font-style: normal;
  font-weight: 700;
  font-weight: 700;
  font-size: 28px;
}
[data-novi-id="54"]{
  font-weight: 700;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
}
[data-novi-id="53"]{
  font-weight: 700;
  
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
}
[data-novi-id="52"]{
  font-size: 28px;
  color: rgb(8, 0, 1);
  
  font-weight: 700;
  font-weight: 700;
}
[data-novi-id="51"]{
  text-transform: capitalize;
  font-weight: 700;
  
  font-weight: 700;
  font-size: 28px;
}
[data-novi-id="50"]{
  
  font-weight: 700;
  font-size: 28px;
  font-weight: 700;
}
[data-novi-id="38"]{
  color: rgb(3, 3, 3);
  font-size: 20px;
  font-weight: 700;
}
[data-novi-id="49"]{
  font-size: 2px;
  color: #13151a;
  
  font-weight: 700;
}
[data-novi-id="22"]{
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  
  
}
[data-novi-id="48"]{
  color: #030303;
  
  
  color: #c42722;
  font-weight: 700;
  
}
[data-novi-id="47"]{
  color: rgb(5, 5, 5);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 28px;
  
}
[data-novi-id="46"]{
  color: rgb(5, 5, 5);
  color: rgba(212, 0, 2, 1);
}
[data-novi-id="45"]{
  color: rgb(10, 10, 10);
  color: #020203;
}
[data-novi-id="44"]{
  color: #000000;
  
  
}
[data-novi-id="43"]{
  color: #000000;
  font-weight: 400;
  font-weight: 700;
  text-align: center;
}
[data-novi-id="42"]{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  
  color: rgb(5, 5, 5);
  font-weight: 400;
}
[data-novi-id="41"]{
  color: #020203;
  font-weight: 700;
  text-align: center;
}
[data-novi-id="40"]{
  
  color: #f6fcf4;
  
  color: rgba(212, 0, 2, 1);
  
  font-size: 25px;
  
}
[data-novi-id="20"]{
  color: rgb(3, 3, 3);
  
}
[data-novi-id="39"]{
  color: #030405;
  text-align: center;
}
[data-novi-id="21"]{
  
  font-size: 20px;
  color: rgb(3, 3, 2);
  
  
}
[data-novi-id="37"]{
  
  font-size: 18px;
  color: rgb(5, 5, 5);
}
[data-novi-id="35"]{
  
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  
  color: rgba(212, 0, 2, 1);
}
[data-novi-id="33"]{
  color: rgb(8, 8, 8);
  font-weight: 700;
}
[data-novi-id="32"]{
  font-size: 20px;
  color: rgb(3, 3, 3);
}
[data-novi-id="31"]{
  color: #ffffff;
  text-align: center;
}
[data-novi-id="30"]{
  font-size: 25px;
  color: rgba(212, 0, 2, 1);
}
[data-novi-id="29"]{
  
  font-weight: 700;
}
[data-novi-id="28"]{
  font-weight: 400;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
[data-novi-id="27"]{
  font-weight: 700;
  text-align: center;
}
[data-novi-id="26"]{
  font-size: 20px;
  font-size: 25px;
  color: rgba(212, 0, 2, 1);
}
[data-novi-id="25"]{
  font-family: 'Roboto', sans-serif;
  
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  
}
[data-novi-id="24"]{
  
  font-style: normal;
  
  font-weight: 700;
  
  font-size: 20px;
  
  
}
[data-novi-id="14"]{
  letter-spacing: 3px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  
}
[data-novi-id="13"]{
  font-weight: 700;
  text-align: center;
}
[data-novi-id="12"]{
  font-weight: 700;
  text-align: center;
}
[data-novi-id="11"]{
  color: rgb(2, 2, 3);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
[data-novi-id="10"]{
  font-family: 'Roboto', sans-serif;
  color: rgb(2, 2, 3);
  color: rgb(3, 3, 3);
  font-size: 20px;
  letter-spacing: 0px;
}
[data-novi-id="9"]{
  font-weight: 700;
  color: rgba(212, 0, 2, 1);
  font-size: 25px;
}
[data-novi-id="8"]{
  font-weight: 700;
  font-size: 25px;
  color: rgba(212, 0, 2, 1);
}
[data-novi-id="7"]{
  font-weight: 400;
  font-size: 20px;
}
}
@media (min-width: 1024px) and (max-width: 1279px){
[data-novi-id="2"]{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-weight: 700;
  font-weight: 700;
  font-weight: 500;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
}
